.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 1em;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
.media-list li {
  margin: 0 0 1.5em;
  padding: 0;
}
.no-album-art {
  width: 64px;
  height: 64px;
  background-color: #666666;
  text-align: center;
}
.now-playing {
  color: #ffffff;
  font-size: 34px;
  line-height: 64px;
}
.tight {
  padding: 0;
  margin: 0 0 .2em;
}
.icon-type-music:before {
  content: "\u221e"; /* infinity */
  -webkit-animation: blink 4s infinite linear;
  -o-animation: blink 4s infinite linear;
  animation: blink 4s infinite linear;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}